@include critical {
    body {
        margin: 0;
        padding: 0;
    }

    .page {
        @extend %flex,
            %flex--align-center,
            %flex--justify-flex-start,
            %flex--column;
        width: 100vw;
        max-width: 100%;
        overflow: hidden;

        &__header,
        &__footer {
            @extend %flex,
                %flex--row,
                %flex--align-center,
                %flex--justify-flex-start;

            max-width: get-setting('grid', 'max-width');
        }

        &__header, &__titles {
            height: get-setting('layout', 'header');
            width: 100%;
        }
        &__titles {
            @extend %flex,
                %flex--row,
                %flex--align-center,
                %flex--justify-center;
        }
        &__title, &__subtitle {
            @include font($family: 'gothic', $size: xxx-large);
            line-height: 1;
        }
        &__title {
            @extend %font--black;
            color: var(--color-primary);
        }
        &__subtitle {
            @extend %font--normal;
            color: var(--color-secondary);
            text-transform: uppercase;
        }
    }
}
